/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");

:root {
    --background: #0C1013;
    --color: white;
    --color-secondary: rgb(124, 124, 124);
    --color-primary: rgb(180, 179, 179);
}

*,
*::before,
*::after {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html,
body {
    background-image: url('/bg2.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #101014;
    background-attachment: fixed;
    background-color: var(--background);
    color: var(--color);
}

.grey {
    color: var(--color-secondary);
    cursor: not-allowed !important;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
}

.no-select,
.ns {
    user-select: none !important;
}

