/* Variables and mixins declared here will be available in all other SCSS files */

$error-color: rgba(247, 75, 75, 0.863);
$error-color-suppl: rgba(252, 120, 120, 0.829);
$light-color: #FFF9A6;
$light-color-hover: #fffccf;